<!DOCTYPE html>
<html lang="zh">
<head>
    <title>EasyYoutube</title>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="2;URL=http://local_server_ip">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
</head>
<body>
<br/>
<h4 align="center">抱歉！暂不支持手机播放，2秒钟后将跳转到主页</h4>
<br/>
<h5 align="center">我的项目：
    <a href="https://github.com/gfw-breaker/ssr-accounts">ssr-accounts</a> -
    <a href="https://github.com/gfw-breaker/open-proxy">open-proxy</a> -
    <a href="https://github.com/gfw-breaker/youtube-stream">youtube-stream</a>
</h5>
</body>
</html>