<!DOCTYPE html>
<html lang="zh">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
</head>
<body bgcolor="#faf0e6">
<h5 align="center">{{title}}</h5>
<p align="center">
    <video onloadstart="this.volume=0.5" style="background:darkgrey" width="640" height="360" controls="controls" autoplay="autoplay">
        <source src="./live?v={{id}}" type="video/{{extension}}">
    </video>
</p>
<h5 align="center">
    <a href="./download?v={{id}}&type=audio">下载音频</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="./download?v={{id}}&type=video">下载视频</a>
</h5>
<br/>
<h5 align="center">我的项目：
    <a href="https://github.com/gfw-breaker/ssr-accounts">ssr-accounts</a> -
    <a href="https://github.com/gfw-breaker/open-proxy">open-proxy</a> -
    <a href="https://github.com/gfw-breaker/youtube-stream">youtube-stream</a>
</h5>
</body>
</html>
